<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GoalSpring</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.min.css" />
  </head>
  <body>

    <!--navbar-->

    <div class="navbar navbar-fixed-top">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <a href="#" class="navbar-brand">GoalSpring</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="/">Home</a>
            </li>
            <li>
              <a href="html/about.html">About</a>
            </li>
            <li>
              <a href="html/contact.html">Contact</a>
            </li>
            <li>
              <a href="/profile">Calendar</a>
            </li>
            <li>
              <a href="/login" id="signIn">Sign In</a>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <!--splash screen-->

    <div class="container-fluid bg1">

      <div class="row">

        <div class="col-sm-12">

          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

        </div>

      </div>

    </div>


    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
