<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>GoalSpring</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="login.min.css" />
</head>
<body>
	<!--navbar-->

	<div class="navbar navbar-fixed-top">
		<div class="container-fluid">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</button>
				<a href="#" class="navbar-brand">GoalSpring</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active">
						<a href="#">Home</a>
					</li>
					<li>
						<a href="html/about.html">About</a>
					</li>
					<li>
						<a href="html/contact.html">Contact</a>
					</li>
					<li>
						<a href="/html/calendar.html">Calendar</a>
					</li>
					<li>
						<a href="/login" id="signIn">Sign In</a>
					</li>
				</ul>
			</div>

		</div>
	</div>

	<div class="container">

	<div class="col-sm-6 col-sm-offset-3">

		<h1><span class="fa fa-sign-in"></span> Signup</h1>

		<!-- show any messages that come back with authentication -->
		<% if (message.length > 0) { %>
			<div class="alert alert-danger"><%= message %></div>
		<% } %>

		<!-- LOGIN FORM -->
		<form action="/signup" method="post">
			<div class="form-group">
				<label>Username</label>
				<input type="text" class="form-control" name="username">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" name="password">
			</div>

			<button type="submit" class="btn btn-default" id="signBtn">Sign Up!</button>
		</form>

		<hr>

		<p>Already have an account? <a href="/login">Login</a></p>
		<p>Or go <a href="/">home</a>.</p>

	</div>

	</div>
</body>
</html>
