/* SASS Variables */

$body: #fff;
$navcolor: #336600;
$parasize: 18px;
$bg2backgr: #C0C0C0;

/* PALETTE */

body {
  background-color: $body;
}

/* HEADER */

/* NAV BAR */

.navbar{
    background-color: $navcolor;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar a {
  color: $body;
  border-radius: 20px;
}

.navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#signIn {
  border: 2px solid black;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 30px;
}

.navbar h2{
  font-size: 40px;
}

/* CONTENT */

h1{
  margin-top: 85px;
}

h1, h2, h3{
  font-weight: 700;
}

h1, h2{
  font-size: 50px;
}

h3{
  font-size: 40px;
}

p{
  font-size: 22px;
  font-weight: 350;
}


/* FOOTER */

.footer{
  color: #fff;
  background-color: #003366;
}

.footer h1, h2, h3, h4, p, ul {
  opacity: 0.85;
}

/* FORMS */

/* OTHER */

@media (min-width: 570px){
  .bg2 h2 {
    text-align: center;
  }

  ul{
    margin-bottom: 30px;
  }
}
