/* SASS Variables */

$body: #fff;
$navcolor: #336600;
$parasize: 18px;
$bg2backgr: #C0C0C0;

/* PALETTE */

body {
  background-color: $body;
}

/* HEADER */

/* NAV BAR */

.navbar{
    background-color: $navcolor;
}

.navbar-toggle {
  color: #fff;
}

.navbar a {
  color: $body;
  border-radius: 20px;
}

.navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#signIn {
  border: 2px solid black;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 30px;
}

.navbar h2{
  font-size: 40px;
}

/* CONTENT */

h1, h2, h3{
  font-weight: 700;
}

h1, h2{
  font-size: 50px;
}

h3{
  font-size: 40px;
}

p{
  font-size: 22px;
  font-weight: 350;
}

//bg1 specific

#jumboHead {
  margin-top: 15px;
}

.bg1 {
  height: 100%;
  padding-bottom: 20px;
}

.bg1 h1{
  margin-top: 75px;
}

.bg1 h3{
  margin-top: 75px;
}

//bg2 specific

.bg2{
  height: 100%;
  background-color: #C0C0C0;
}

.bg2 img {
  margin: 0 auto;
  display: block;
  width: 70%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bg2 h3{
  margin-bottom: 25px;
}

.bg2 p {
  margin-bottom: 25px;
}

//.b3 specific

.bg3 img {
  width: 100%;
}

ul {
  list-style-type: none;
  font-size: 16px;
  font-weight: 600;
  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* FOOTER */

.footer{
  color: #fff;
  background-color: #003366;
}

.footer h1, h2, h3, h4, p, ul {
  opacity: 0.85;
}

/* FORMS */

/* OTHER */

@media (min-width: 570px){
  .bg2 h2 {
    text-align: center;
  }

  .bg2 img {
    height: 100%;
  }

  ul{
    margin-bottom: 30px;
  }
}
