/* SASS Variables */

$body: #fff;
$navcolor: #336600;
$parasize: 18px;
$bg2backgr: #C0C0C0;

/* PALETTE */

body {
  background-color: $body;
}

/* HEADER */

/* NAV BAR */

.navbar{
    background-color: $navcolor;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar a {
  color: $body;
  border-radius: 20px;
}

.navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#signIn {
  border: 2px solid black;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 30px;
}

.navbar h2{
  font-size: 40px;
}

/* CONTENT */

h1, h2, h3{
  font-weight: 700;
}

#taskLabel {
  margin-bottom: 30px;
}

p{
  font-weight: 350;
}

#taskTitle{
  font-size: 18px;
}

#taskCat {
  font-size: 14px;
}

#titles {
  margin: 20px 0 10px;
}


//bg1 specific

/*#taskList{
  margin-top: 100px;
  height: 200px;
  width: 100%;
  border: 1px;
  border-radius: 5px;
  background-color: #2b5797;
  color: #fff;
  font-size: 18px;
  list-style-type: none;
}*/

#information {
  margin-top: 75px;
}

#taskHolder{
  margin-top: 100px;
  color: #000;
}

.infoBox {
  padding: 5px 5px 5px 5px;
  background-color: #f8f8f8;
  margin-bottom: 10px;
}

.myBtn{
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
}

#delBtn {
  margin-top: 10px;
}


.form-padding {
  padding-top: 0px;
}

#createBox {
  margin-top: 10px;
}

// other content

form {
  padding-top: 100px;
}

@media only screen and (min-width: 982px){
  #delBtn {
    margin-top: 0px;
  }
}
